*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    background-color: aqua;
    width: 500px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-weight: 600;
    font-size: 40px;
}